*{
    color: white;
    margin-bottom: 0;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
body{
    background-color: black;
}
/*--------------------------------------------l'en tete---------------------------------------------*/
.header{
    display: flex;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0; 
}
.logo{
    width: 30%  
}
.logo img{
    width:200px;
}
.nav{
    width: 70%;
    text-align: center;
    padding-top: 18px;
   
}
.nav a{
    text-decoration: none;
    margin:10px;
}
@media screen and (max-width:980px) {

}
/*----------------------------le corps avec toutes les astuces----------------------------*/
main{
    margin-top: 10px;
}
.titre-gen{
    margin-left: 20px;
    padding-top: 50px;
    font-size: 65px;
}
.titre-scdn{
    font-size: 42px;
    margin-left: 20px;
}
.description{
    margin-left: 20px;
    margin-right: 50px;
}
.toutes-astuces{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
   
}
.astuces{
    width: 350px;
    height: 320px;
    border: 1px solid rgba(141, 129, 129,.2);
    margin: 30px 0 40px;
    margin: 10px 12.5px 10px ;
}
.image-astuce img{
    width: 95%;
    height: 200px;
    padding-top: 8px;
    padding-right: 0;
 }
 .description-astuce{
    width: 100%;
    height: 60px;
    margin-left: 0;
    
 }
 .description-astuce p{
    text-decoration: none;
    color: rgb(121, 223, 226);
    font-size: 21px;
    text-align: left;
 }
@media screen and (max-width:980px) {
h1{
    font-size: 26.5px;
    padding-top: 75px;
 }   
h2{
    font-size: 25px;
}
.astuce{
    height: 400px;
    width:100%;
    margin-left: 2px;
}
.image-astuce img{
    width: 96%;
    height: 200px;
    padding: 8px 0 5px;
    margin-left: 2px;
    margin-right: 2px;
}
.astuce p{
    font-size: 15px;
 }
.titre-astuce a{
    font-size: 23px;

}
}
/*-------------------------------------------------le corps de l'astuce------------------------------------------------------------*/

.debut img{
    width: 60%;
    height: 350px;
    margin-left: 70px;
    margin-top: 15px;
}
.debut h1{
    width: 100%;
    margin-top:10px px;
}
.debut h2{
    margin-top: 5px;
}
/*-------------------------------------------Les listes----------------------------------------------*/
.liste h3{
    font-size: 30px;
}
.liste p{
    margin-left: 50px;
}
/*------------------------------------le footer----------------------------------------------------------*/
.footer{
    background-color: rgba(141, 129, 129,.9);
    width:100%;
    height: 100px;
    margin-top: 50px; 
}
.footer-texts{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 45px;
}
.footer a{
    text-decoration: none;
    color: black;
}
 .final{
    color: black;
    text-align: center;
}
.footer hr{
   background-color: black;
}
/*-------------------------------les articles------------------------------------------*/
.image-article{
    width: 70%;
    height: 400px;
    margin-left: 120px;
    padding-top: 25px;
}